@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Hind|Source+Serif+Pro&display=swap');

$primary-color: #DD5C11!default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: #EDAA40 !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

$gray-color: lighten(#999, 10%);
$gray-color-light: lighten(#999, 30%);
$white-color: #ffffff;

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Source Serif Pro', serif;
    font-size: 16px;
}

main {
    flex: 1 0 auto;
}

header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

.my-nav {
  background-color: $primary-color;
  padding: 15px 5px;
  font-family: 'Bitter', serif;
  font-size: 26px;
  font-weight: bold;
  color: $white-color;
  i {
    margin-right: 7px;
  }
}

.btn {
  font-weight: bold;
  font-family: 'Bitter', serif;
}

footer, .page-footer {
  border-top: 1px solid $gray-color;
  background-color: $white-color;
}

[contenteditable=true]:empty:before{
  content: attr(data-placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
}

[contenteditable]:focus {
  background: #efefef;
  outline: 2px solid $gray-color-light;
}